body{
    background-color: #dc9c9c;

}
	
	.cartell{
		width: 40vw;
		margin: auto;
	}
	
	#cabeza1{
		width: 40vw;
		height: 18.6vw;
		background-image: url("img/cabeza1.png");
		background-size: 100%;
	}

    #cara1 {
        width: 40vw;
        height: 18vw;
        background-image: url("img/cara1.png");
        background-size: 100%;
    }

    #cuerpo1 {
        width: 40vw;
        height: 18vw;
        background-image: url("img/cuerpo1.png");
        background-size: 100%;
    }
    body{
		margin: 0px;
        padding: 3px;
	}
	